In [1]:
import pandas as pd

In [37]:
pd.set_option('display.max_columns', None)

In [3]:
# Import updated files - 2020 thru 2023
filenames = [f'{year}{month:02d}-divvy-tripdata.csv' for year in range(2020,2024) for month in range(1,13)]

In [4]:
filenames

['202001-divvy-tripdata.csv',
 '202002-divvy-tripdata.csv',
 '202003-divvy-tripdata.csv',
 '202004-divvy-tripdata.csv',
 '202005-divvy-tripdata.csv',
 '202006-divvy-tripdata.csv',
 '202007-divvy-tripdata.csv',
 '202008-divvy-tripdata.csv',
 '202009-divvy-tripdata.csv',
 '202010-divvy-tripdata.csv',
 '202011-divvy-tripdata.csv',
 '202012-divvy-tripdata.csv',
 '202101-divvy-tripdata.csv',
 '202102-divvy-tripdata.csv',
 '202103-divvy-tripdata.csv',
 '202104-divvy-tripdata.csv',
 '202105-divvy-tripdata.csv',
 '202106-divvy-tripdata.csv',
 '202107-divvy-tripdata.csv',
 '202108-divvy-tripdata.csv',
 '202109-divvy-tripdata.csv',
 '202110-divvy-tripdata.csv',
 '202111-divvy-tripdata.csv',
 '202112-divvy-tripdata.csv',
 '202201-divvy-tripdata.csv',
 '202202-divvy-tripdata.csv',
 '202203-divvy-tripdata.csv',
 '202204-divvy-tripdata.csv',
 '202205-divvy-tripdata.csv',
 '202206-divvy-tripdata.csv',
 '202207-divvy-tripdata.csv',
 '202208-divvy-tripdata.csv',
 '202209-divvy-tripdata.csv',
 '202210-divvy-tripdata.csv',
 '202211-divvy-tripdata.csv',
 '202212-divvy-tripdata.csv',
 '202301-divvy-tripdata.csv',
 '202302-divvy-tripdata.csv',
 '202303-divvy-tripdata.csv',
 '202304-divvy-tripdata.csv',
 '202305-divvy-tripdata.csv',
 '202306-divvy-tripdata.csv',
 '202307-divvy-tripdata.csv',
 '202308-divvy-tripdata.csv',
 '202309-divvy-tripdata.csv',
 '202310-divvy-tripdata.csv',
 '202311-divvy-tripdata.csv',
 '202312-divvy-tripdata.csv']

In [5]:
# Adjust for files that don't follow the pattern
filenames.remove('202001-divvy-tripdata.csv')
filenames.remove('202002-divvy-tripdata.csv')
filenames.remove('202003-divvy-tripdata.csv')
filenames.remove('202209-divvy-tripdata.csv')

In [6]:
# Append new files
filenames.append('Divvy_Trips_2020_Q1.csv')
filenames.append('202209-divvy-publictripdata.csv')

In [7]:
# Remove filenames beyond October 2023
filenames = [f for f in filenames if not (f.startswith('202311') or f.startswith('202312'))]

In [8]:
# Read csv file and store in list
df_list = []
for filename in filenames:
    try:
        df = pd.read_csv(filename)
        df_list.append(df)
    except FileNotFoundError:
        print(f"File Not Found: {filename}")

# Concat all Dataframes into one
updated_divvy_data = pd.concat(df_list, ignore_index=True)

In [11]:
updated_divvy_data.head()
updated_divvy_data.tail()
updated_divvy_data.shape

(19937749, 13)

In [12]:
updated_divvy_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [13]:
updated_divvy_data['started_at'] = pd.to_datetime(updated_divvy_data['started_at'])
sorted_df = updated_divvy_data.sort_values(by='started_at', ascending=True)

In [16]:
sorted_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
18908802,1068AB1B8F12FE23,docked_bike,2020-01-01 00:04:44,2020-01-01 00:17:08,Sheffield Ave & Wellington Ave,115,Ashland Ave & Belle Plaine Ave,246.0,41.9363,-87.6527,41.9561,-87.6688,casual
18953299,DCF74A0EB3284B3E,docked_bike,2020-01-01 00:10:37,2020-01-01 00:10:54,Daley Center Plaza,81,Daley Center Plaza,81.0,41.8842,-87.6296,41.8842,-87.6296,member
18953300,4DE50A4FC7687A0D,docked_bike,2020-01-01 00:11:14,2020-01-01 00:15:32,Daley Center Plaza,81,Dearborn St & Van Buren St,624.0,41.8842,-87.6296,41.8763,-87.6292,member
18849334,1C78B5F337CBFC93,docked_bike,2020-01-01 00:11:27,2020-01-01 00:13:15,Sheridan Rd & Irving Park Rd,240,Broadway & Sheridan Rd,256.0,41.9542,-87.6544,41.9528,-87.6500,member
18903991,D231CE7990A3AA52,docked_bike,2020-01-01 00:12:34,2020-01-01 00:14:29,Delano Ct & Roosevelt Rd,626,Wabash Ave & Roosevelt Rd,59.0,41.8675,-87.6322,41.8672,-87.6260,member

In [17]:
sorted_df.reset_index(drop=True, inplace=True)
sorted_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1068AB1B8F12FE23,docked_bike,2020-01-01 00:04:44,2020-01-01 00:17:08,Sheffield Ave & Wellington Ave,115,Ashland Ave & Belle Plaine Ave,246.0,41.9363,-87.6527,41.9561,-87.6688,casual
1,DCF74A0EB3284B3E,docked_bike,2020-01-01 00:10:37,2020-01-01 00:10:54,Daley Center Plaza,81,Daley Center Plaza,81.0,41.8842,-87.6296,41.8842,-87.6296,member
2,4DE50A4FC7687A0D,docked_bike,2020-01-01 00:11:14,2020-01-01 00:15:32,Daley Center Plaza,81,Dearborn St & Van Buren St,624.0,41.8842,-87.6296,41.8763,-87.6292,member
3,1C78B5F337CBFC93,docked_bike,2020-01-01 00:11:27,2020-01-01 00:13:15,Sheridan Rd & Irving Park Rd,240,Broadway & Sheridan Rd,256.0,41.9542,-87.6544,41.9528,-87.6500,member
4,D231CE7990A3AA52,docked_bike,2020-01-01 00:12:34,2020-01-01 00:14:29,Delano Ct & Roosevelt Rd,626,Wabash Ave & Roosevelt Rd,59.0,41.8675,-87.6322,41.8672,-87.6260,member

In [18]:
# Create list of new column names
new_cols = ['TRIP ID', 'RIDE TYPE', 'START TIME', 'STOP TIME', 'FROM STATION NAME',
            'FROM STATION ID', 'TO STATION NAME', 'TO STATION ID', 'FROM LATITUDE',
            'FROM LONGITUDE', 'TO LATITUDE', 'TO LONGITUDE', 'USER TYPE']

sorted_df.columns = new_cols
sorted_df.head()

,TRIP ID,RIDE TYPE,START TIME,STOP TIME,FROM STATION NAME,FROM STATION ID,TO STATION NAME,TO STATION ID,FROM LATITUDE,FROM LONGITUDE,TO LATITUDE,TO LONGITUDE,USER TYPE
0,1068AB1B8F12FE23,docked_bike,2020-01-01 00:04:44,2020-01-01 00:17:08,Sheffield Ave & Wellington Ave,115,Ashland Ave & Belle Plaine Ave,246.0,41.9363,-87.6527,41.9561,-87.6688,casual
1,DCF74A0EB3284B3E,docked_bike,2020-01-01 00:10:37,2020-01-01 00:10:54,Daley Center Plaza,81,Daley Center Plaza,81.0,41.8842,-87.6296,41.8842,-87.6296,member
2,4DE50A4FC7687A0D,docked_bike,2020-01-01 00:11:14,2020-01-01 00:15:32,Daley Center Plaza,81,Dearborn St & Van Buren St,624.0,41.8842,-87.6296,41.8763,-87.6292,member
3,1C78B5F337CBFC93,docked_bike,2020-01-01 00:11:27,2020-01-01 00:13:15,Sheridan Rd & Irving Park Rd,240,Broadway & Sheridan Rd,256.0,41.9542,-87.6544,41.9528,-87.6500,member
4,D231CE7990A3AA52,docked_bike,2020-01-01 00:12:34,2020-01-01 00:14:29,Delano Ct & Roosevelt Rd,626,Wabash Ave & Roosevelt Rd,59.0,41.8675,-87.6322,41.8672,-87.6260,member

In [19]:
sorted_df.drop('RIDE TYPE', axis=1, inplace=True)

In [21]:
import numpy as np
sorted_df['BIKE ID'] = np.nan
sorted_df['TRIP DURATION'] = np.nan
sorted_df['GENDER'] = np.nan
sorted_df['BIRTH YEAR'] = np.nan
sorted_df['TO LOCATION'] = np.nan
sorted_df.head()

,TRIP ID,START TIME,STOP TIME,FROM STATION NAME,FROM STATION ID,TO STATION NAME,TO STATION ID,FROM LATITUDE,FROM LONGITUDE,TO LATITUDE,TO LONGITUDE,USER TYPE,BIKE ID,TRIP DURATION,GENDER,BIRTH YEAR,TO LOCATION
0,1068AB1B8F12FE23,2020-01-01 00:04:44,2020-01-01 00:17:08,Sheffield Ave & Wellington Ave,115,Ashland Ave & Belle Plaine Ave,246.0,41.9363,-87.6527,41.9561,-87.6688,casual,NaN,NaN,NaN,NaN,NaN
1,DCF74A0EB3284B3E,2020-01-01 00:10:37,2020-01-01 00:10:54,Daley Center Plaza,81,Daley Center Plaza,81.0,41.8842,-87.6296,41.8842,-87.6296,member,NaN,NaN,NaN,NaN,NaN
2,4DE50A4FC7687A0D,2020-01-01 00:11:14,2020-01-01 00:15:32,Daley Center Plaza,81,Dearborn St & Van Buren St,624.0,41.8842,-87.6296,41.8763,-87.6292,member,NaN,NaN,NaN,NaN,NaN
3,1C78B5F337CBFC93,2020-01-01 00:11:27,2020-01-01 00:13:15,Sheridan Rd & Irving Park Rd,240,Broadway & Sheridan Rd,256.0,41.9542,-87.6544,41.9528,-87.6500,member,NaN,NaN,NaN,NaN,NaN
4,D231CE7990A3AA52,2020-01-01 00:12:34,2020-01-01 00:14:29,Delano Ct & Roosevelt Rd,626,Wabash Ave & Roosevelt Rd,59.0,41.8675,-87.6322,41.8672,-87.6260,member,NaN,NaN,NaN,NaN,NaN

In [22]:
# Replace USER TYPE values
replace_values = {'casual': 'Customer', 'member': 'Subscriber'}
sorted_df['USER TYPE'] = sorted_df['USER TYPE'].replace(replace_values)

In [23]:
sorted_df.head()

,TRIP ID,START TIME,STOP TIME,FROM STATION NAME,FROM STATION ID,TO STATION NAME,TO STATION ID,FROM LATITUDE,FROM LONGITUDE,TO LATITUDE,TO LONGITUDE,USER TYPE,BIKE ID,TRIP DURATION,GENDER,BIRTH YEAR,TO LOCATION
0,1068AB1B8F12FE23,2020-01-01 00:04:44,2020-01-01 00:17:08,Sheffield Ave & Wellington Ave,115,Ashland Ave & Belle Plaine Ave,246.0,41.9363,-87.6527,41.9561,-87.6688,Customer,NaN,NaN,NaN,NaN,NaN
1,DCF74A0EB3284B3E,2020-01-01 00:10:37,2020-01-01 00:10:54,Daley Center Plaza,81,Daley Center Plaza,81.0,41.8842,-87.6296,41.8842,-87.6296,Subscriber,NaN,NaN,NaN,NaN,NaN
2,4DE50A4FC7687A0D,2020-01-01 00:11:14,2020-01-01 00:15:32,Daley Center Plaza,81,Dearborn St & Van Buren St,624.0,41.8842,-87.6296,41.8763,-87.6292,Subscriber,NaN,NaN,NaN,NaN,NaN
3,1C78B5F337CBFC93,2020-01-01 00:11:27,2020-01-01 00:13:15,Sheridan Rd & Irving Park Rd,240,Broadway & Sheridan Rd,256.0,41.9542,-87.6544,41.9528,-87.6500,Subscriber,NaN,NaN,NaN,NaN,NaN
4,D231CE7990A3AA52,2020-01-01 00:12:34,2020-01-01 00:14:29,Delano Ct & Roosevelt Rd,626,Wabash Ave & Roosevelt Rd,59.0,41.8675,-87.6322,41.8672,-87.6260,Subscriber,NaN,NaN,NaN,NaN,NaN

In [26]:
# Convert start time and stop time to pd datetime
sorted_df['START TIME'] = pd.to_datetime(sorted_df['START TIME']).dt.strftime('%m/%d/%Y %I:%M:%S %p')
sorted_df['STOP TIME'] = pd.to_datetime(sorted_df['STOP TIME']).dt.strftime('%m/%d/%Y %I:%M:%S %p')

In [27]:
sorted_df.head()

,TRIP ID,START TIME,STOP TIME,FROM STATION NAME,FROM STATION ID,TO STATION NAME,TO STATION ID,FROM LATITUDE,FROM LONGITUDE,TO LATITUDE,TO LONGITUDE,USER TYPE,BIKE ID,TRIP DURATION,GENDER,BIRTH YEAR,TO LOCATION
0,1068AB1B8F12FE23,01/01/2020 12:04:44 AM,01/01/2020 12:17:08 AM,Sheffield Ave & Wellington Ave,115,Ashland Ave & Belle Plaine Ave,246.0,41.9363,-87.6527,41.9561,-87.6688,Customer,NaN,NaN,NaN,NaN,NaN
1,DCF74A0EB3284B3E,01/01/2020 12:10:37 AM,01/01/2020 12:10:54 AM,Daley Center Plaza,81,Daley Center Plaza,81.0,41.8842,-87.6296,41.8842,-87.6296,Subscriber,NaN,NaN,NaN,NaN,NaN
2,4DE50A4FC7687A0D,01/01/2020 12:11:14 AM,01/01/2020 12:15:32 AM,Daley Center Plaza,81,Dearborn St & Van Buren St,624.0,41.8842,-87.6296,41.8763,-87.6292,Subscriber,NaN,NaN,NaN,NaN,NaN
3,1C78B5F337CBFC93,01/01/2020 12:11:27 AM,01/01/2020 12:13:15 AM,Sheridan Rd & Irving Park Rd,240,Broadway & Sheridan Rd,256.0,41.9542,-87.6544,41.9528,-87.6500,Subscriber,NaN,NaN,NaN,NaN,NaN
4,D231CE7990A3AA52,01/01/2020 12:12:34 AM,01/01/2020 12:14:29 AM,Delano Ct & Roosevelt Rd,626,Wabash Ave & Roosevelt Rd,59.0,41.8675,-87.6322,41.8672,-87.6260,Subscriber,NaN,NaN,NaN,NaN,NaN

In [30]:
sorted_df['START TIME'] = pd.to_datetime(sorted_df['START TIME'], format="%m/%d/%Y %I:%M:%S %p")
sorted_df['STOP TIME'] = pd.to_datetime(sorted_df['STOP TIME'], format="%m/%d/%Y %I:%M:%S %p")

In [31]:
sorted_df.head()

,TRIP ID,START TIME,STOP TIME,FROM STATION NAME,FROM STATION ID,TO STATION NAME,TO STATION ID,FROM LATITUDE,FROM LONGITUDE,TO LATITUDE,TO LONGITUDE,USER TYPE,BIKE ID,TRIP DURATION,GENDER,BIRTH YEAR,TO LOCATION
0,1068AB1B8F12FE23,2020-01-01 00:04:44,2020-01-01 00:17:08,Sheffield Ave & Wellington Ave,115,Ashland Ave & Belle Plaine Ave,246.0,41.9363,-87.6527,41.9561,-87.6688,Customer,NaN,NaN,NaN,NaN,NaN
1,DCF74A0EB3284B3E,2020-01-01 00:10:37,2020-01-01 00:10:54,Daley Center Plaza,81,Daley Center Plaza,81.0,41.8842,-87.6296,41.8842,-87.6296,Subscriber,NaN,NaN,NaN,NaN,NaN
2,4DE50A4FC7687A0D,2020-01-01 00:11:14,2020-01-01 00:15:32,Daley Center Plaza,81,Dearborn St & Van Buren St,624.0,41.8842,-87.6296,41.8763,-87.6292,Subscriber,NaN,NaN,NaN,NaN,NaN
3,1C78B5F337CBFC93,2020-01-01 00:11:27,2020-01-01 00:13:15,Sheridan Rd & Irving Park Rd,240,Broadway & Sheridan Rd,256.0,41.9542,-87.6544,41.9528,-87.6500,Subscriber,NaN,NaN,NaN,NaN,NaN
4,D231CE7990A3AA52,2020-01-01 00:12:34,2020-01-01 00:14:29,Delano Ct & Roosevelt Rd,626,Wabash Ave & Roosevelt Rd,59.0,41.8675,-87.6322,41.8672,-87.6260,Subscriber,NaN,NaN,NaN,NaN,NaN

In [32]:
# Break out Month Day Year and Time for starts and stops
sorted_df['Start Month'] = sorted_df['START TIME'].dt.month
sorted_df['Start Day'] = sorted_df['START TIME'].dt.day
sorted_df['Start Year'] = sorted_df['START TIME'].dt.year
sorted_df['Start Time'] = sorted_df['START TIME'].dt.strftime('%H%M')

sorted_df['Stop Month'] = sorted_df['STOP TIME'].dt.month
sorted_df['Stop Day'] = sorted_df['STOP TIME'].dt.day
sorted_df['Stop Year'] = sorted_df['STOP TIME'].dt.year
sorted_df['Stop Time'] = sorted_df['STOP TIME'].dt.strftime('%H%M')

sorted_df.head()

,TRIP ID,START TIME,STOP TIME,FROM STATION NAME,FROM STATION ID,TO STATION NAME,TO STATION ID,FROM LATITUDE,FROM LONGITUDE,TO LATITUDE,...,BIRTH YEAR,TO LOCATION,Start Month,Start Day,Start Year,Start Time,Stop Month,Stop Day,Stop Year,Stop Time
0,1068AB1B8F12FE23,2020-01-01 00:04:44,2020-01-01 00:17:08,Sheffield Ave & Wellington Ave,115,Ashland Ave & Belle Plaine Ave,246.0,41.9363,-87.6527,41.9561,...,NaN,NaN,1,1,2020,0004,1,1,2020,0017
1,DCF74A0EB3284B3E,2020-01-01 00:10:37,2020-01-01 00:10:54,Daley Center Plaza,81,Daley Center Plaza,81.0,41.8842,-87.6296,41.8842,...,NaN,NaN,1,1,2020,0010,1,1,2020,0010
2,4DE50A4FC7687A0D,2020-01-01 00:11:14,2020-01-01 00:15:32,Daley Center Plaza,81,Dearborn St & Van Buren St,624.0,41.8842,-87.6296,41.8763,...,NaN,NaN,1,1,2020,0011,1,1,2020,0015
3,1C78B5F337CBFC93,2020-01-01 00:11:27,2020-01-01 00:13:15,Sheridan Rd & Irving Park Rd,240,Broadway & Sheridan Rd,256.0,41.9542,-87.6544,41.9528,...,NaN,NaN,1,1,2020,0011,1,1,2020,0013
4,D231CE7990A3AA52,2020-01-01 00:12:34,2020-01-01 00:14:29,Delano Ct & Roosevelt Rd,626,Wabash Ave & Roosevelt Rd,59.0,41.8675,-87.6322,41.8672,...,NaN,NaN,1,1,2020,0012,1,1,2020,0014

In [33]:
sorted_df.shape

(19937749, 25)

In [34]:
sorted_df.columns

Index(['TRIP ID', 'START TIME', 'STOP TIME', 'FROM STATION NAME',
       'FROM STATION ID', 'TO STATION NAME', 'TO STATION ID', 'FROM LATITUDE',
       'FROM LONGITUDE', 'TO LATITUDE', 'TO LONGITUDE', 'USER TYPE', 'BIKE ID',
       'TRIP DURATION', 'GENDER', 'BIRTH YEAR', 'TO LOCATION', 'Start Month',
       'Start Day', 'Start Year', 'Start Time', 'Stop Month', 'Stop Day',
       'Stop Year', 'Stop Time'],
      dtype='object')

In [35]:
# Add weekday or weekend value
import datetime
def is_weekday(year, month, day):
    # Create datetime object
    date=datetime.date(year, month, day)
    # Check if it's a weekday
    return "Weekday" if date.weekday() < 5 else "Weekend"

sorted_df['Day Type'] = sorted_df.apply(lambda row: is_weekday(row['Start Year'], row['Start Month'], row['Start Day']),axis=1)

In [38]:
sorted_df.head()

,TRIP ID,START TIME,STOP TIME,FROM STATION NAME,FROM STATION ID,TO STATION NAME,TO STATION ID,FROM LATITUDE,FROM LONGITUDE,TO LATITUDE,TO LONGITUDE,USER TYPE,BIKE ID,TRIP DURATION,GENDER,BIRTH YEAR,TO LOCATION,Start Month,Start Day,Start Year,Start Time,Stop Month,Stop Day,Stop Year,Stop Time,Day Type
0,1068AB1B8F12FE23,2020-01-01 00:04:44,2020-01-01 00:17:08,Sheffield Ave & Wellington Ave,115,Ashland Ave & Belle Plaine Ave,246.0,41.9363,-87.6527,41.9561,-87.6688,Customer,NaN,NaN,NaN,NaN,NaN,1,1,2020,0004,1,1,2020,0017,Weekday
1,DCF74A0EB3284B3E,2020-01-01 00:10:37,2020-01-01 00:10:54,Daley Center Plaza,81,Daley Center Plaza,81.0,41.8842,-87.6296,41.8842,-87.6296,Subscriber,NaN,NaN,NaN,NaN,NaN,1,1,2020,0010,1,1,2020,0010,Weekday
2,4DE50A4FC7687A0D,2020-01-01 00:11:14,2020-01-01 00:15:32,Daley Center Plaza,81,Dearborn St & Van Buren St,624.0,41.8842,-87.6296,41.8763,-87.6292,Subscriber,NaN,NaN,NaN,NaN,NaN,1,1,2020,0011,1,1,2020,0015,Weekday
3,1C78B5F337CBFC93,2020-01-01 00:11:27,2020-01-01 00:13:15,Sheridan Rd & Irving Park Rd,240,Broadway & Sheridan Rd,256.0,41.9542,-87.6544,41.9528,-87.6500,Subscriber,NaN,NaN,NaN,NaN,NaN,1,1,2020,0011,1,1,2020,0013,Weekday
4,D231CE7990A3AA52,2020-01-01 00:12:34,2020-01-01 00:14:29,Delano Ct & Roosevelt Rd,626,Wabash Ave & Roosevelt Rd,59.0,41.8675,-87.6322,41.8672,-87.6260,Subscriber,NaN,NaN,NaN,NaN,NaN,1,1,2020,0012,1,1,2020,0014,Weekday

In [40]:
sorted_df['FROM LOCATION'] = np.nan

In [41]:
# re-order col names
new_col_order = ['TRIP ID', 'START TIME', 'STOP TIME', 'BIKE ID', 'TRIP DURATION',
                 'FROM STATION ID', 'FROM STATION NAME', 'TO STATION ID', 'TO STATION NAME',
                 'USER TYPE', 'GENDER', 'BIRTH YEAR', 'FROM LATITUDE', 'FROM LONGITUDE',
                 'FROM LOCATION', 'TO LATITUDE', 'TO LONGITUDE', 'TO LOCATION', 'Start Month',
                 'Start Day', 'Start Year', 'Start Time', 'Stop Month', 'Stop Day', 'Stop Year',
                 'Stop Time', 'Day Type']

sorted_df = sorted_df[new_col_order]

In [42]:
sorted_df.head()

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION,Start Month,Start Day,Start Year,Start Time,Stop Month,Stop Day,Stop Year,Stop Time,Day Type
0,1068AB1B8F12FE23,2020-01-01 00:04:44,2020-01-01 00:17:08,NaN,NaN,115,Sheffield Ave & Wellington Ave,246.0,Ashland Ave & Belle Plaine Ave,Customer,NaN,NaN,41.9363,-87.6527,NaN,41.9561,-87.6688,NaN,1,1,2020,0004,1,1,2020,0017,Weekday
1,DCF74A0EB3284B3E,2020-01-01 00:10:37,2020-01-01 00:10:54,NaN,NaN,81,Daley Center Plaza,81.0,Daley Center Plaza,Subscriber,NaN,NaN,41.8842,-87.6296,NaN,41.8842,-87.6296,NaN,1,1,2020,0010,1,1,2020,0010,Weekday
2,4DE50A4FC7687A0D,2020-01-01 00:11:14,2020-01-01 00:15:32,NaN,NaN,81,Daley Center Plaza,624.0,Dearborn St & Van Buren St,Subscriber,NaN,NaN,41.8842,-87.6296,NaN,41.8763,-87.6292,NaN,1,1,2020,0011,1,1,2020,0015,Weekday
3,1C78B5F337CBFC93,2020-01-01 00:11:27,2020-01-01 00:13:15,NaN,NaN,240,Sheridan Rd & Irving Park Rd,256.0,Broadway & Sheridan Rd,Subscriber,NaN,NaN,41.9542,-87.6544,NaN,41.9528,-87.6500,NaN,1,1,2020,0011,1,1,2020,0013,Weekday
4,D231CE7990A3AA52,2020-01-01 00:12:34,2020-01-01 00:14:29,NaN,NaN,626,Delano Ct & Roosevelt Rd,59.0,Wabash Ave & Roosevelt Rd,Subscriber,NaN,NaN,41.8675,-87.6322,NaN,41.8672,-87.6260,NaN,1,1,2020,0012,1,1,2020,0014,Weekday

In [43]:
sorted_df.shape

(19937749, 27)

In [47]:
# Calculate TRIP DURATION in seconds
sorted_df['TRIP DURATION'] = (sorted_df['STOP TIME'] - sorted_df['START TIME']).dt.total_seconds()
sorted_df.head()

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION,Start Month,Start Day,Start Year,Start Time,Stop Month,Stop Day,Stop Year,Stop Time,Day Type
0,1068AB1B8F12FE23,2020-01-01 00:04:44,2020-01-01 00:17:08,NaN,744.0,115,Sheffield Ave & Wellington Ave,246.0,Ashland Ave & Belle Plaine Ave,Customer,NaN,NaN,41.9363,-87.6527,NaN,41.9561,-87.6688,NaN,1,1,2020,0004,1,1,2020,0017,Weekday
1,DCF74A0EB3284B3E,2020-01-01 00:10:37,2020-01-01 00:10:54,NaN,17.0,81,Daley Center Plaza,81.0,Daley Center Plaza,Subscriber,NaN,NaN,41.8842,-87.6296,NaN,41.8842,-87.6296,NaN,1,1,2020,0010,1,1,2020,0010,Weekday
2,4DE50A4FC7687A0D,2020-01-01 00:11:14,2020-01-01 00:15:32,NaN,258.0,81,Daley Center Plaza,624.0,Dearborn St & Van Buren St,Subscriber,NaN,NaN,41.8842,-87.6296,NaN,41.8763,-87.6292,NaN,1,1,2020,0011,1,1,2020,0015,Weekday
3,1C78B5F337CBFC93,2020-01-01 00:11:27,2020-01-01 00:13:15,NaN,108.0,240,Sheridan Rd & Irving Park Rd,256.0,Broadway & Sheridan Rd,Subscriber,NaN,NaN,41.9542,-87.6544,NaN,41.9528,-87.6500,NaN,1,1,2020,0011,1,1,2020,0013,Weekday
4,D231CE7990A3AA52,2020-01-01 00:12:34,2020-01-01 00:14:29,NaN,115.0,626,Delano Ct & Roosevelt Rd,59.0,Wabash Ave & Roosevelt Rd,Subscriber,NaN,NaN,41.8675,-87.6322,NaN,41.8672,-87.6260,NaN,1,1,2020,0012,1,1,2020,0014,Weekday

In [48]:
sorted_df['TRIP DURATION'] = sorted_df['TRIP DURATION'].astype(int)
sorted_df.head()

,TRIP ID,START TIME,STOP TIME,BIKE ID,TRIP DURATION,FROM STATION ID,FROM STATION NAME,TO STATION ID,TO STATION NAME,USER TYPE,GENDER,BIRTH YEAR,FROM LATITUDE,FROM LONGITUDE,FROM LOCATION,TO LATITUDE,TO LONGITUDE,TO LOCATION,Start Month,Start Day,Start Year,Start Time,Stop Month,Stop Day,Stop Year,Stop Time,Day Type
0,1068AB1B8F12FE23,2020-01-01 00:04:44,2020-01-01 00:17:08,NaN,744,115,Sheffield Ave & Wellington Ave,246.0,Ashland Ave & Belle Plaine Ave,Customer,NaN,NaN,41.9363,-87.6527,NaN,41.9561,-87.6688,NaN,1,1,2020,0004,1,1,2020,0017,Weekday
1,DCF74A0EB3284B3E,2020-01-01 00:10:37,2020-01-01 00:10:54,NaN,17,81,Daley Center Plaza,81.0,Daley Center Plaza,Subscriber,NaN,NaN,41.8842,-87.6296,NaN,41.8842,-87.6296,NaN,1,1,2020,0010,1,1,2020,0010,Weekday
2,4DE50A4FC7687A0D,2020-01-01 00:11:14,2020-01-01 00:15:32,NaN,258,81,Daley Center Plaza,624.0,Dearborn St & Van Buren St,Subscriber,NaN,NaN,41.8842,-87.6296,NaN,41.8763,-87.6292,NaN,1,1,2020,0011,1,1,2020,0015,Weekday
3,1C78B5F337CBFC93,2020-01-01 00:11:27,2020-01-01 00:13:15,NaN,108,240,Sheridan Rd & Irving Park Rd,256.0,Broadway & Sheridan Rd,Subscriber,NaN,NaN,41.9542,-87.6544,NaN,41.9528,-87.6500,NaN,1,1,2020,0011,1,1,2020,0013,Weekday
4,D231CE7990A3AA52,2020-01-01 00:12:34,2020-01-01 00:14:29,NaN,115,626,Delano Ct & Roosevelt Rd,59.0,Wabash Ave & Roosevelt Rd,Subscriber,NaN,NaN,41.8675,-87.6322,NaN,41.8672,-87.6260,NaN,1,1,2020,0012,1,1,2020,0014,Weekday

In [50]:
sorted_df['Rider Age'] = np.nan

In [51]:
# Write new data to csv
sorted_df.to_csv('updated_divvy_data.csv', index=False)